/* Mavic animation */
@keyframes mavic-on {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-150%);
  }
}

@keyframes mavic-off {
  0% {
    transform: translateY(-150%);
  }
  60% {
    transform: translateY(30px);
  }
  70% {
    transform: translateY(-20px);
  }
  80% {
    transform: translateY(15px);
  }
  90% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Phone animation */
@keyframes front-on {
  0% {
    right: 20%;
    transform: translateY(150%) rotate(20deg);
  }
  60% {
    right: 20%;
    transform: translateY(0) rotate(0);
  }
  100% {
    right: 33%;
    transform: translateY(0) rotate(0);
  }
}

@keyframes front-off {
  0% {
    right: 33%;
    transform: translateY(0) rotate(0);
  }
  100% {
    right: 20%;
    transform: translateY(150%) rotate(20deg);
  }
}

@keyframes back-on {
  0% {
    left: 20%;
    transform: translateY(150%) rotate(-20deg);
  }
  60% {
    left: 20%;
    transform: translateY(0) rotate(0);
  }
  100% {
    left: 33%;
    transform: translateY(0) rotate(0);
  }
}

@keyframes back-off {
  0% {
    left: 33%;
    transform: translateY(0) rotate(0);
  }
  100% {
    left: 20%;
    transform: translateY(150%) rotate(-20deg);
  }
}
